<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baozhongbao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,696},{212,283}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,30},{212,283}}</string>
                <key>sourceSize</key>
                <string>{400,345}</string>
            </dict>
            <key>baozhongbao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,638},{258,281}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,57},{258,281}}</string>
                <key>sourceSize</key>
                <string>{400,345}</string>
            </dict>
            <key>baozhongbao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,616},{246,279}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,58},{246,279}}</string>
                <key>sourceSize</key>
                <string>{400,345}</string>
            </dict>
            <key>baozhongbao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,325},{266,311}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{266,311}}</string>
                <key>sourceSize</key>
                <string>{400,345}</string>
            </dict>
            <key>baozhongbao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,317},{252,297}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,29},{252,297}}</string>
                <key>sourceSize</key>
                <string>{400,345}</string>
            </dict>
            <key>baozhongbao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{400,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,345}}</string>
                <key>sourceSize</key>
                <string>{400,345}</string>
            </dict>
            <key>baozhongbao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,345}}</string>
                <key>sourceSize</key>
                <string>{400,345}</string>
            </dict>
            <key>baozhongbao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{260,313}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,17},{260,313}}</string>
                <key>sourceSize</key>
                <string>{400,345}</string>
            </dict>
            <key>baozhongbao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{266,321}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,17},{266,321}}</string>
                <key>sourceSize</key>
                <string>{400,345}</string>
            </dict>
            <key>baozhongbao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{264,323}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,16},{264,323}}</string>
                <key>sourceSize</key>
                <string>{400,345}</string>
            </dict>
            <key>baozhongbao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{264,323}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,16},{264,323}}</string>
                <key>sourceSize</key>
                <string>{400,345}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baozhongbao.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76405bee4641dd3f16f288ceed0ce61d$</string>
            <key>textureFileName</key>
            <string>baozhongbao.png</string>
        </dict>
    </dict>
</plist>
