<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duibao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,584},{320,152}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,122},{320,152}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1010},{262,256}}</string>
                <key>offset</key>
                <string>{29,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,8},{262,256}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,316},{266,320}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{266,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,306},{278,320}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{278,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,890},{270,226}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,44},{270,226}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{246,184}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,69},{246,184}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{196,228}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,24},{196,228}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao16.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1118},{192,152}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,84},{192,152}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,738},{304,270}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{304,270}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{320,258}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{320,258}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{258,320}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{296,234}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,61},{296,234}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,586},{302,312}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{302,312}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,302}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{320,302}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>duibao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,312}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{320,312}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duibao.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0972de4645f05a5fd9c3d112f47158e6$</string>
            <key>textureFileName</key>
            <string>duibao.png</string>
        </dict>
    </dict>
</plist>
