<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{364,243}}</string>
                <key>offset</key>
                <string>{5,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,184},{364,243}}</string>
                <key>sourceSize</key>
                <string>{454,427}</string>
            </dict>
            <key>hu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,245},{116,129}}</string>
                <key>offset</key>
                <string>{-8,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,230},{116,129}}</string>
                <key>sourceSize</key>
                <string>{454,427}</string>
            </dict>
            <key>hu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,812},{116,129}}</string>
                <key>offset</key>
                <string>{-8,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,230},{116,129}}</string>
                <key>sourceSize</key>
                <string>{454,427}</string>
            </dict>
            <key>hu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,812},{116,129}}</string>
                <key>offset</key>
                <string>{-8,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,230},{116,129}}</string>
                <key>sourceSize</key>
                <string>{454,427}</string>
            </dict>
            <key>hu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,363},{328,237}}</string>
                <key>offset</key>
                <string>{-1,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,185},{328,237}}</string>
                <key>sourceSize</key>
                <string>{454,427}</string>
            </dict>
            <key>hu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{336,241}}</string>
                <key>offset</key>
                <string>{0,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,183},{336,241}}</string>
                <key>sourceSize</key>
                <string>{454,427}</string>
            </dict>
            <key>hu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,368},{336,339}}</string>
                <key>offset</key>
                <string>{-10,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,82},{336,339}}</string>
                <key>sourceSize</key>
                <string>{454,427}</string>
            </dict>
            <key>hu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{336,401}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,24},{336,401}}</string>
                <key>sourceSize</key>
                <string>{454,427}</string>
            </dict>
            <key>hu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,405}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,22},{316,405}}</string>
                <key>sourceSize</key>
                <string>{454,427}</string>
            </dict>
            <key>hu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,709},{230,235}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,165},{230,235}}</string>
                <key>sourceSize</key>
                <string>{454,427}</string>
            </dict>
            <key>hu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,709},{230,235}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,165},{230,235}}</string>
                <key>sourceSize</key>
                <string>{454,427}</string>
            </dict>
            <key>hu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{116,129}}</string>
                <key>offset</key>
                <string>{-8,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,230},{116,129}}</string>
                <key>sourceSize</key>
                <string>{454,427}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c07e2d8c03b413d1839f908733de360$</string>
            <key>textureFileName</key>
            <string>hu.png</string>
        </dict>
    </dict>
</plist>
