<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,652},{142,169}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{142,169}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>lou10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{164,205}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{164,205}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>lou11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,213}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{166,213}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>lou12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{142,205}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{142,205}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>lou13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{142,169}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,43},{142,169}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>lou14.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,508},{142,169}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,43},{142,169}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>lou15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{142,169}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,43},{142,169}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>lou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,508},{152,161}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{152,161}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>lou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,336},{170,171}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,23},{170,171}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>lou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,662},{150,161}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,39},{150,161}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>lou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{158,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,42},{158,143}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>lou6.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,796},{152,139}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,55},{152,139}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>lou7.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,814},{138,147}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,61},{138,147}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>lou8.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{164,211}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{164,211}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
            <key>lou9.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,168},{166,209}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{166,209}}</string>
                <key>sourceSize</key>
                <string>{188,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lou.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db410646e387ca0bfe8ebeffe7d55339$</string>
            <key>textureFileName</key>
            <string>lou.png</string>
        </dict>
    </dict>
</plist>
