<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mobao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mobao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,324},{282,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{282,280}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mobao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,606},{266,262}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{266,262}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mobao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,626},{264,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{264,262}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mobao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,870},{260,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{260,258}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mobao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{260,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{260,258}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mobao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mobao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mobao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mobao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,324},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{300,300}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mobao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{230,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{230,228}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mobao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1130},{210,188}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,66},{210,188}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mobao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{232,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,49},{232,222}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>mobao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,890},{258,244}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{258,244}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mobao.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c5b52b1de964d0b60cc608ce5e22983$</string>
            <key>textureFileName</key>
            <string>mobao.png</string>
        </dict>
    </dict>
</plist>
