<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>piao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{230,284}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,9},{230,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>piao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{230,290}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,10},{230,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>piao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,574},{214,278}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,10},{214,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>piao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1134},{208,278}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,10},{208,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>piao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,854},{210,278}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{210,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>piao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{216,278}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,10},{216,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>piao15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{228,278}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,10},{228,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>piao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{188,284}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,9},{188,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>piao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1414},{166,284}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,9},{166,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>piao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{164,284}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,9},{164,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>piao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1332},{174,284}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,9},{174,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>piao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{208,290}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,10},{208,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>piao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,282},{214,290}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,10},{214,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>piao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{230,290}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,10},{230,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>piao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,290}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,10},{232,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>piao.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cd525fe99ece816b6884a7ff746e185$</string>
            <key>textureFileName</key>
            <string>piao.png</string>
        </dict>
    </dict>
</plist>
