<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sanqing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,234},{156,204}}</string>
                <key>offset</key>
                <string>{14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,103},{156,204}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>sanqing10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,296},{170,272}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,35},{170,272}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>sanqing11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,874},{146,276}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,28},{146,276}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>sanqing12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,590},{146,282}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,24},{146,282}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>sanqing13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{158,288}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,22},{158,288}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>sanqing14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{166,292}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,20},{166,292}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>sanqing15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,292}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,22},{172,292}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>sanqing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{162,202}}</string>
                <key>offset</key>
                <string>{13,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,104},{162,202}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>sanqing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,538},{156,224}}</string>
                <key>offset</key>
                <string>{8,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,96},{156,224}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>sanqing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{156,230}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,90},{156,230}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>sanqing5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{156,254}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,66},{156,254}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>sanqing6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,274},{174,262}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,57},{174,262}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>sanqing7.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,836},{182,258}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,50},{182,258}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>sanqing8.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,570},{184,264}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,45},{184,264}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>sanqing9.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{180,270}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,39},{180,270}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sanqing.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cac71ac6b6d146501d2e6f21dc17829$</string>
            <key>textureFileName</key>
            <string>sanqing.png</string>
        </dict>
    </dict>
</plist>
