<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>siqing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,928},{98,84}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,161},{98,84}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>siqing10.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{284,302}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{284,302}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>siqing11.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,284},{284,274}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{284,274}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>siqing12.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{314,280}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{314,280}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>siqing13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{284,196}}</string>
                <key>offset</key>
                <string>{-12,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,88},{284,196}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>siqing14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{264,214}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,80},{264,214}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>siqing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,418},{128,98}}</string>
                <key>offset</key>
                <string>{7,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,157},{128,98}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>siqing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,288},{128,98}}</string>
                <key>offset</key>
                <string>{8,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,157},{128,98}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>siqing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,560},{138,118}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,146},{138,118}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>siqing5.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,732},{168,194}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,79},{168,194}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>siqing6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,560},{170,206}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,59},{170,206}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>siqing7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,732},{186,240}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,34},{186,240}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>siqing8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{236,284}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,10},{236,284}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>siqing9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,292}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{320,292}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>siqing.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:106a64e0dd54e6030e30da920bbc232b$</string>
            <key>textureFileName</key>
            <string>siqing.png</string>
        </dict>
    </dict>
</plist>
